body {
    display: grid;
    grid-template-columns: minmax(150px, 1.5fr) 8fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(200px, 1fr) 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1 / 3;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}